/*This is the CSS page for our final template.*/

.footer p { /* This is how you add styles for only the p text within the footer. */
	background-color: #whitesmoke;
	text-align: center;
	font-family: 'Times New Roman', serif;
	font-size: 20px;
	margin-bottom: 0;
}
.header {
	height: auto;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	font-family: 'Times New Roman', serif;
	background-color: skyblue;
}
h4 {
	font-style: italic;
	font-size: 40px;
	font-family: 'Times New Roman', serif;
}
h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
}


.oswald-subhead {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/*Don't worry about this section yet*/
@media only screen and (max-width: 767px)
{
 .list {
 	float: right;
 	min-width: 90%;
 	margin-left: 5px;
 	margin-bottom: 30px;
 	margin-top: 30px;
 	margin margin-right: 5px;
 }
 iframe {
 	min-width: 90%;
 	margin-right: 10px;
 }
}