/*This is the CSS page for our final template.*/

p {
	font-family: 'Times New Roman', serif;
	font-size: 15px;
}
.footer p { /* This is how you add styles for only the p text within the footer. */
	background-color:#F0CEA0;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
}
.header {
	height: auto;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	font-family: 'Oswald', serif;
	background-color: #F0CEA0;
	color: #black;
}
h2 {
	font-size: 40px;
	font-family: 'Oswald', serif;
}
h3 {
	font-size: 30px;
	font-family: 'Oswald', serif;
}

h4 {
	font-size: 20px;
}


img {
	float: right;
	margin-left: 5%;
	margin-right: 5%;
}
#button {
	text-align: center;
	font-size: 20px;
	background-color: #3C474B;
	color: #C0E0DE;
	font-weight: bold;
	padding: 12px;
	width: 20%;
	margin-left: 42%;
}

.oswald-subhead {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/*Don't worry about this section yet*/
@media only screen and (max-width: 767px)
{
 .list {
 	border-block: 2px solid darkgray;
 	padding: 10px;
 	float: none;
 	min-width: 90%;
 	margin-left: 10px;
 	margin-bottom: 30px;
 	margin-top: 30px;
 }
 iframe {
 	min-width: 90%;
 	margin-right: 10px;
 }
.footer p { /* This is how you add styles for only the p text within the footer. */
	background-color: #skyblue;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
}
